@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
body{
    box-sizing: border-box;
    background-color: black;
    margin: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

header{
    background-color: #ccc;
    box-sizing: border-box;
    color: black;
    padding: 10px;
    margin: auto;
    width: auto;
    font-family: 'Wittgenstein', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav{
    display: flex;
    gap: 50px;
}
a{
    font-family: 'Wittgenstein', sans-serif;
    font-size: 24px;
    border-radius: 15px solid black;
    color: black;
    text-decoration: none;
}
a:hover{
    background-color: #605c5c;
}
.display-3{
    font-family: 'Wittgenstein', sans-serif;
}
main{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: black;
    margin: auto;
    padding: 1px;
    display: flex; 
    gap: 30px;
}
.form-group{
    width: 70%;
    height: 70%;
}
section{
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 15px;
}
p{
    padding: 15px;
    margin: auto;
    font-family: sans-serif;
    justify-content: center;
}

h2{
    padding: 8px;
    margin: auto;
}
p{
    padding-bottom: 15px;
    margin: auto;
    font-family: sans-serif;
    justify-content: center;
    line-height: 1.5;
}
.box1{
    background-color: #f23;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 15px;
    margin: auto;
}
.box2{
    background-color: #333;
    height: 70%;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 15px;
    margin: auto;
}
img{
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
}
.gramatica{
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;

}